<%- include('partials/_header', {title: "New URL"}) %>
    <div class="card text-center">
      <div class="card-header"></div>
      <div class="card-body">
        <h5 class="card-title">TinyURL for: <%= longURL %></h5>
        <p class="card-text">
          Short URL ID: <a href="/u/<%= id %>"><%= id %></a>
        </p>
        
      </div>
      <div class="card-footer text-muted">
        <form method="POST" action="/urls/<%= id %>" class="text-center">
          <div class="form-group">
            <label for="newLongURL" class="font-weight-bold display-4 mb-4">Edit</label>
            </div>
            <div class="form=group form-inline justify-content-center">
              <p class="mb-2">New URL:</p>
              <input
                type="text"
                class="form-control mb-2 mr-sm-2"
                id="newLongURL"
                name="newLongURL"
                placeholder="Enter new long URL"
                required
              />
              <button type="submit" class="btn btn-primary mb-2">Update URL</button></p>
            </div>        
        </form>
      </div>
    </div>
    <%- include('partials/_footer') %>