<%- include('partials/_header', {title: "New URL"}) %>
<div class="card text-center">
  <div class="card-header"></div>
  <div class="card-body">
    <h5 class="card-title">TinyURL for: <%= longURL %></h5>
    <p class="card-text">
      Short URL ID: <a href="/u/<%= shortURL %>"> <%= shortURL %> </a>
    </p>
  </div>
  <div class="card-footer text-muted">
    <form method="POST" action="/urls/edit/<%= shortURL %>">
      <h5 class="card title">Edit</h5>
      <label for="longURL">New URL address:</label>
      <input
        type="text"
        name="longURL"
        placeholder="Insert New URL address:"
        style="height: 40px; width: 400px; margin: 1em"
      />
      <button
        type="submit"
        class="btn btn-primary"
        style="height: 40px; width: 100px; margin: 1em"
      >
        Submit
      </button>
    </form>
  </div>
</div>
<%- include('partials/_footer') %>
